html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*==========start css==========================================================================================*/


body{
	font-size: 16pt;
	width: 960px
	margin: 0 auto;
}

nav{
	background-color: #0E3E60;
	color: white;
	height: 50px;
	overflow: hidden;
	position: fixed;
	z-index: 10;
	width: 92%;
}

nav ul{
	padding-top: 10px;
}
nav li ul li a{
	color: #0E3E60;

}

nav ul li{
	width:33%;
	float:left;
}

#logo{
	height: 50px;
	margin-top: -10px;
}

.logBtn{
	text-align: right;
}

#menu{
	background-color: #0E3E60;
	border: 1px solid white;
	padding: 5px 5px 0 5px;
	margin-left: 5px;
	color: white;
	text-decoration: none;
}

#wrapper{
	width: 92%;
	margin:0 auto;
	font-size: 1.2em;
}

.dropMenu{
	font-size: 1em;
	background-color: white;
	border-left: 1px solid #0E3E60;
	border-bottom: 1px solid #0E3E60;
	border-right: 1px solid #0E3E60;
	margin-top: -6px;
	margin-left: 4px;
	padding: 5px;
	position: fixed;
	z-index: 10;
	top: 49px;
}

.dropMenu a{
	width: 263px;
	display: block;
	padding: 5px 5px;
}

.dropMenu a:hover{
	background-color: #0E3E60;
	color: white;
	width: 263px;
}

.dropMenu a:active{
	background-color: #0E3E60;
	color: white;
	width: 263px;
}

footer{
	background-color: #0E3E60;
	color: white;
	height: 40px;
	overflow: hidden;
	position: fixed;
	z-index: 10;
	width: 92%;
	bottom: 0;
	text-align: center;
	padding-top: .5%;
}

.content{
	background-color: #A7A9AB;
	clear: both;
	padding-top: 55px;
	width: 100%;
	height: 780px;
	margin: 0 auto;
}

.note{
	font-style: italic;
	font-size: .5em;
	margin-bottom: 1%;
}

section{
	background-color: #D1D2D4;
	margin: .3% 17%;
	padding: 1%;
}

form{
	text-align: center;
	font-size: .7em;
	margin: .5%;
}

.Even{
	background-color: #ffffff;
	height: 25%;
	overflow: hidden;
	width: 90%;
	border: 1px solid black;
}

.survivorList ul{
	height: 160px;
	overflow: auto;
}

.status{
	text-align: right;
	float: right;
}

.myBtn {
	color:#ffffff;
	background-color: #0e3e60;
	border: 1px solid white;
	width: 30%;
	text-align: center;
	margin-left: 71%;
	margin-top: -0.5%;
}

.myBtnC {
	color:#ffffff;
	background-color: #0e3e60;
	border: 1px solid white;
	width: 30%;
	text-align: center;
}















