<nav>
	<ul>
		<li class="menuList" style="width: 15%;">
			<a id="menu" ng-click="dispToggle=!dispToggle"><span class="glyphicon glyphicon-th-list"></span></a>
		</li>
		<li id="logo" ><a href="#/" ><img src="view/images/logo.png"></a></li>
		<li><a class="btn btn-info myBtn" href="#/personnellogin">Login</a></li>
	</ul>
</nav>

<ul class="dropMenu"  ng-show="dispToggle">
	<li><a href="#/">Survivor List</a></li>
	<li><a href="#/personnellogin">Personnel Login</a></li>
</ul>

<div class="content col-12 col-sm-12 col-lg-8">

	<section class="col-12 col-sm-12 col-lg-12 panel panel-default">
		<h1  class="panel-heading">Survivor Status: Confirmed</h1><br/>
		<div class="panel-body">
			<p>This survivor has checked in with emergency personel and showed a valid photo id.</p><br/>
			<ul class="list-group">
				<p>Forms of valid id:</p>
				<li class="list-group-item">Drivers License</li>
				<li class="list-group-item">Military Id</li>
				<li class="list-group-item">Passport</li>
			</ul>
		</div>
	</section>
</div>

<footer>&copy;2013 CHenry 1308 MDD Disaster Relief Project</footer>