<nav>
	<ul>
		<li class="menuList">
			<a id="menu" ng-click="dispToggle=!dispToggle"><span class="glyphicon glyphicon-th-list"></span></a>
		</li>
		<li id="logo" ><a href="#/" ><img src="view/images/logo.png"></a></li>
		<li><a class="btn btn-info myBtn" href="#/personnellogin">Login</a></li>
	</ul>
</nav>

<ul class="dropMenu"  ng-show="dispToggle">
	<li><a href="#/">Survivor List</a></li>
	<li><a href="#/personnellogin">Personnel Login</a></li>
</ul>

<div class="content">

	<section class="col-12 col-sm-8 col-lg-8">
		<h1>Survivor Login:</h1>
		<form ng-submit="addSurvivor()" ng-controller="Core">
			<label for="fullName">Full Name:</label><br/>
			<input type="text" id="fullName" ng-model="SurvivorName"/><br/><br/>
			<button type="submit" class="myBtnC btn btn-info">Register</button><br/><br/>
			Or<br/><br/>
			<button type="button" class="myBtnC btn btn-info" ng-click="login()">Register with facebook</button>
		</form>
	</section>

	<section class="col-12 col-sm-8 col-lg-8 survivorList" ng-controller="Core">
		<h1>Survivor List:</h1>
		<p><em>(*list is in Alphebetical order by the Name)</em></p>
			<form>
				<input type="text" ng-model="nameText">
			</form>
		<div class="panel">
				<div class="panel-heading"><span class="survivorName">Name</span><span class="status">Status</span></div>
			<div class="panel-body">
				<ul class="list-group">
					<!--Loop to create list from database of survivors-->
					<li class="list-group-item" ng-repeat="svr in survivors | filter:nameText | orderBy:'name'"><span class="survivorName">{{svr.name}}</span><span class="status">{{svr.status}}</span><li/>					
				</ul>
			</div>
		</div>
	</section>

</div>

<footer>&copy;2013 CHenry 1308 MDD Disaster Relief Project</footer>