<nav class="container">
	<ul>
		<li class="menuList" style="width: 15%;">
			<a id="menu" ng-click="dispToggle=!dispToggle"><span class="glyphicon glyphicon-th-list"></span></a>
		</li>
		<li id="logo" ><a href="#/" ><img src="view/images/logo.png"></a></li>
		<li><a class="btn btn-info myBtn" href="#/personnellogin">Login</a></li>
	</ul>
</nav>

<ul class="dropMenu"  ng-show="dispToggle">
	<li><a href="#/">Survivor List</a></li>
	<li><a href="#/personnellogin">Personnel Login</a></li>
</ul>

<div class="content col-12 col-sm-12 col-lg-8">

	<section class="col-12 col-sm-12 col-lg-12">
		<h1>Survivor Registration:</h1>
		<form ng-submit="addSurvivor()" ng-controller="Core">
			<button type="button" class="myBtnC btn btn-info" style="background-color:#3B5998" ng-click="login()">Facebook Registration</button>
		</form>
	</section>

	<section class="col-12 col-sm-12 col-lg-12 survivorList" ng-controller="Core">
		<h1>Survivor List:</h1>
		<p class="note">(Survivor list is in Alphebetical order by the Name.)</p>
			<form>
				<label for="search">Search:</label><br>
				<input type="text" class="form-control" id="search" ng-model="nameText" placeholder="Search..."><br><br>
			</form>
		<div class="panel">
				<div class="panel-heading"><span class="survivorName">Name</span> | <span class="status">Status</span></div>
			<div class="panel-body">
				<ul class="list-group">
					<!--Loop to create list from database of survivors-->
					<li class="list-group-item" ng-repeat="svr in survivors | filter:nameText | orderBy:'name'"><span class="survivorName"><a href={{svr.href}} target="_blank">{{svr.name}}</a></span> | <span class="status">{{svr.status}}</span><li/>					
				</ul>
			</div>
		</div>
	</section>

</div>

<footer class="container">&copy;2013 CHenry 1308 MDD Disaster Relief Project</footer>